.header-spotify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #000;
  box-sizing: border-box;
}

.spotify-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-spotify,
.auth-button {
  flex-shrink: 0;
}

#botao-voltar-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.music-search {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 5px 8px;
}

.music-name {
  width: 50px;
  height: 100%;
}

.music-controller {
  width: 60%;
}
