.header-spotify {
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: center;
}

.header-spotify {
  margin: 0;
  justify-content: center;
  gap: 20px;
}

.logo-spotify,
.auth-button {
  flex: 0 1 auto;
}

#button-logo-spotify {
  background: transparent;
}

#button-logo-spotify:hover {
  background-color: none;
}

#botao-voltar-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
