#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  list-style-type: none;
}

@keyframes pulsar {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    box-shadow: 0 0 10px 20px rgba(255, 82, 82, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes pulsar-texto {
  0% {
    text-shadow: 0 0 5px rgba(255, 82, 82, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 82, 82, 1);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 82, 82, 0.5);
  }
}

.vida-baixa-texto {
  color: #ff5252;
  animation: pulsar-texto 2s ease-out infinite;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}

.grid-item {
  background-color: #f0f0f0;
  text-align: center;
  background-color: #3a404d;
}

.vida-baixa {
  width: 100px;
  height: 100px;
  background-color: #ff5252;
  animation: pulsar 2s ease-out infinite;
}

.painel {
  background-color: #2c313a;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 15px 30px;
}

.info-bloco {
  background-color: #3a404d;
  border-radius: 5px;
  position: relative;
  padding-right: 60px;
}

h1 {
  color: #61dafb;
}

h2 {
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}
ul,
ol {
  padding-left: 25px;
  list-style-type: none;
}

li {
  padding: 3px 0;
}
input[type="text"],
input[type="number"] {
  background-color: #2c313a;
  color: #f0f0f0;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 0.9em;
  margin: 5px 0;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #61dafb;
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
}

select {
  background-color: #2c313a;
  color: #f0f0f0;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 8px 30px 8px 10px;
  font-size: 0.9em;
  margin: 5px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

select:focus {
  outline: none;
  border-color: #61dafb;
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
}

option {
  background-color: #2c313a;
  color: #f0f0f0;
}
